{% extends "layout.html" %}
{% block content %}
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>This website is for users to download videos from youtube and process them.</p>
        <p>You can convert a video to images (Data Scientists0, just extract the audio (mp3 songs) from it or just get the transcript (tutorials) if it exists in English</p>
        <p>
          <a class="btn btn-primary" href="/" role="button">Start Processing &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}